* {
  text-align: center;
}

header,
body{
  background-color: lightblue;
}

header,
footer,
p {
  font-weight: bold;
  color:brown;
  font-family: 'Bungee Inline', cursive;
}

h1 {
  font-size: 400%;
}

.row {
  padding: 10px;
}

.gifBtn{
  margin-left: 3px;
  margin-right: 3px;
}

.gifFrame {
  margin: 3px;
  outline: 1px solid black; 
  display: inline-block;
}

#btnHolder {
  border-bottom: 1px solid brown;
}

#container {
  padding-left: 5%;
  padding-right: 5%;
}

#gifHolder{
  border-bottom: 1px solid brown;
}

.numSelector{
  display: inline-block;
  width: 75px;
  margin: 5px;
}

#msg {
  margin-top: 5px;
}