* {
  text-align: center;
}

header,
body{
  background-color: lightblue;
}

header,
footer {
  font-weight: bold;
  color:brown;
  font-family: 'Bungee Inline', cursive;
}

footer {
  border-top: 1px solid brown;
}

h1 {
  font-size: 400%;
}

.row {
  padding: 10px;
}

.gifBtn{
  margin-left: 3px;
  margin-right: 3px;
}

.gifFrame {
  margin: 3px;
  outline: 1px solid black; 
}

.gifFrame:hover {
  outline: 2px solid gold;
}

#btnHolder {
  border-bottom: 1px solid brown;
}

#container {
  padding-left: 5%;
  padding-right: 5%;
}

.gifFrame {
  display: inline-block;
}